{{ define "main" }}
{{ .Section }}
<div class="home">
    <div class="row pack">
      {{ range .Pages }}  
            <div class="col-md-4 card">
             <a href="{{ .Params.externalUrl }}"{{ if strings.HasPrefix .Params.externalUrl "http" }} target="_blank"{{ end }} class="index-anchor">    
                <div class="panel panel-default">
                  
                  {{ if .Params.img }}
                  {{ with .Resources.Match .Params.img }}
                    {{ range . }}
                      <img width="100%" src="{{ .RelPermalink }}" alt="{{ .Title }}">
                    {{ end }}
                  {{ end }}
                  {{ else }}
                  <img width="100%" src="{{ .Site.BaseURL }}images/{{ .Site.Params.defaultImage }}" alt="{{ .Site.Title }}">
                  {{ end }}
                  
                  <div class="panel-body">
                     <h3 class="panel-title pull-left">{{ .Title | truncate 25 }}</h3>
                      <!--<span class="post-meta pull-right"><small>{{ .Date.Format "January 2, 2006" }}</small></span> -->
                  </div>
                  
                  <div class="panel-body"><small>
                    {{ .Summary | plainify | truncate 180 }}</small>
                  </div>
                </div>
                </a>
            </div>
          {{ end }}
    </div> 
{{ end }}
